!*.c


!*.h

*.uvopt

Project/Listing/Project.map

Project/Project.uvopt

*.log

*.plg

*.bak

*.dep

*.uvgui.*

JLinkLog.txt

*.o

*.d

*.crf

*.tra

*.axf

*.hex

*.lnp

*.sct

*.__i

*.htm

*.doc

.gitignore_*

*.map


